* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.div {
    border: 1px solid black;
}

body {
    background: #dddddd;
}

#container {
    position: relative;
    min-height: 100vh;
}


.content {
    margin: 10px;
    background: #ffffff;
    overflow: auto;
}

#content {
    background: #fff;
    padding: 0.1em;
}

footer {
    background-color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#viewWelcome, #viewCatalog, #viewSubmit, #viewMyPosts, #viewEdit, #viewComments {
    background: #fff;
}

.welcome {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.welcome > * {
    vertical-align: top;
    overflow: auto;
}

.about {
    background: #ddf9c0;
    padding: 20px;
    margin: 10px;
    height: 400px;
}

.signup {
    float: right;
    max-width: 350px;
}

#loginForm {
    display: block;
    background: #ddf9c0;
    margin: 10px;
    padding: 10px;
    height: 180px;
    position: relative;
}

#loginForm > * {
    width: 250px;
    box-sizing: border-box;
}

#registerForm {
    display: block;
    background: #ddf9c0;
    margin: 10px;
    padding: 10px;
    height: 210px;
    position: relative;
}

#registerForm > * {
    width: 250px;
    box-sizing: border-box;
}

#btnLogin, #btnRegister {
    display: block;
    position: absolute;
    bottom: 10px;
}

.capitalize {
    text-transform: capitalize;
}

.invalid_input {
    color: red;
    margin-bottom: .2em;
}

.no-posts {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: center;
    text-align: center;
    height: 200px;
}