.submitArea {
    background: #ddf9c0;
    margin: 20px;
    padding: 20px;
    overflow: auto;
}

.submitForm>* {
    display: block;
    width: 400px;
    box-sizing: border-box;
}

input, label {
    display: block;
    width: 100%;
}

.submitForm div {
    margin-top: 10px;
}

textarea {
    resize: none;
    height: 9em;
    width: 100%;
}

.submitForm>input[type="submit"] {
    margin-top: 10px;
    width: 100px;
}