.App {
	text-align: center;
}

form {
	font-size: 2rem;
	margin: 30px;
}

input {
	font-size: 1rem;
}

.inputDiv {
	margin: 10px 0px;
}

.inputDiv p {
	padding: 0;
	margin: 0;
}

.input {
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px 5px 10px 5px;
}

.submitButton {
	border-radius: 5%;
	border: 1px solid gray;
	font-size: 26px;
}

.submitButton:hover {
	cursor: pointer;
}

.toggleButtons {
	font-size: 30px;
}

.toggleButtons button {
	border: 0;
	background: none;
	font-size: 30px;
	outline-style: none;
}

.toggleButtons button:hover {
	background-color: gray;
	color: white;
	cursor: pointer;
}

.border_bottom {
	border-bottom: 1px solid black;
}

.errorP {
	color: red;
}

pokemons {
	display: flex;
	margin: 0px 10px;
	flex-wrap: wrap;
	width: 100%;
}

.pokemonList {
	display: flex;
	overflow: auto;
}

.pokemonCard {
	width: 200px;
	border: 3px solid #d04f07;
	margin: 0px 5px;
}

.pokemonCard img {
	width: 150px;
	height: 150px;
	margin: 0 auto;
}

.pokemonCard:hover {
	cursor: pointer;
}

.selectedCard {
	display: flex;
	justify-content: center;
	margin: 3em;
}

.selectedCard>img {
	display: inline-block;
	width: 20rem;
	height: 20rem;
	border-right: 2px solid gray;
	margin-right: 1em;
}

.pokemonInfo {
	display: inline-block;
	vertical-align: center;
}

.pokemonInfo p {
	width: 15rem;
	text-align: justify;
}

.noPokemons {
	margin: 0 auto;
}

.addCard {
	width: 200px;
	margin: 0px 5px;
	flex-direction: column;
	vertical-align: center;
	horiz-align: center;
}

.addCard img {
	width: 120px;
	margin: 10px auto;
}

.addCard:hover {
	cursor: pointer;
}